
#btn-play {
    padding: 20px 50px;
    font-size: 25px;
    position: right;
    color: rgb(255, 1, 1);
    background-image:url(img/img1.jpeg);
    border-radius: 5px;
    font-weight:bold;
}

#canvas{
    padding-bottom: -30px;
}

body{
   
    background-size: cover;
}